.vscode/settings.json
Experts/001-PUTDATAonServer.ex4
Experts/001-PUTDATAonServer.ex4
Experts/001-PUTDATAonServer-back1.ex4
Indicators/FPH_HistoBars.ex4
Indicators/FPH_Oscilator.ex4
Indicators/Center of Gravity.ex4
Indicators/FPH_Filter.ex4
Indicators/kanal-ant-indicator.ex4
Indicators/FPH_Filter.ex4
Indicators/linear-regression-indikator.ex4
Indicators/RunMedian.ex4
Indicators/median/median.ex4
Indicators/median/median-avrage.ex4
Indicators/median-indicator.ex4
Indicators/median/median-1.ex4
Indicators/median/RunMedian-jason.ex4
Indicators/median/RunMedian.ex4
Indicators/FPH_HistoBars.ex4
templates/OptimizationReport.htm
templates/Statement.htm
templates/StrategyTester.htm
templates/StatementDetailed.htm
Indicators/new-for-work/Wave_Arrows.ex4
Experts/002-putDataOnServer.mq4
Indicators/Wave_Arrows.ex4
Indicators/Synergy_TradeSignal.ex4
Indicators/Synergy_DSR.ex4
Indicators/Support and Resistance (Barry).ex4
Indicators/super-signals-channel.ex4
Indicators/FX5_NeelyElliotWave_v1.2.ex4
Indicators/FollowLine_v1.5.ex4
Indicators/bsi_trend.ex4
Indicators/3_Level_ZZ_Semafor.ex4
Indicators/!XPS v8 DSR-test.ex4
Indicators/!XPS v8 GANN SSL.ex4
Indicators/mqlcache.dat
Indicators/Synergy_Continuation.ex4
Indicators/Synergy_HeikenAshi.ex4
Indicators/Synergy_MTF.ex4
Indicators/Synergy_MTF.log
Indicators/Synergy_RangeFactor.ex4
Indicators/Synergy_TDI.ex4
Indicators/Synergy_TradeTargets.ex4
Indicators/Synergy_Volatility.ex4
