.vscode/settings.json
Experts/001-PUTDATAonServer.ex4
Experts/001-PUTDATAonServer.ex4
Experts/001-PUTDATAonServer-back1.ex4
Indicators/FPH_HistoBars.ex4
Indicators/FPH_Oscilator.ex4
Indicators/Center of Gravity.ex4
Indicators/FPH_Filter.ex4
Indicators/kanal-ant-indicator.ex4
Indicators/FPH_Filter.ex4
Indicators/linear-regression-indikator.ex4
Indicators/RunMedian.ex4
Indicators/median/median.ex4
Indicators/median/median-avrage.ex4
Indicators/median-indicator.ex4
Indicators/median/median-1.ex4
Indicators/median/RunMedian-jason.ex4
Indicators/median/RunMedian.ex4
